:root {
    --font-family-m: Montserrat, sans-serif;
    --font-family-a: Anglecia Pro, sans-serif;
    --accent-red: #FF2D58;
    --accent-blue: #00C2BA;
    --main-color: #5B5B5B;
}

@font-face {
    src: url("../fonts/Montserrat-Light.woff2") format("woff2");
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../fonts/AngleciaProDisplayExtraLight.woff2") format("woff2");
    font-family: "Anglecia Pro";
    font-weight: 250;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../fonts/AngleciaProDisplayLight.woff2") format("woff2");
    font-family: "Anglecia Pro";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../fonts/AngleciaProDisplayRegular.woff2") format("woff2");
    font-family: "Anglecia Pro";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../fonts/AngleciaProDisplayBold.woff2") format("woff2");
    font-family: "Anglecia Pro";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../fonts/AngleciaProDisplayBlack.woff2") format("woff2");
    font-family: "Anglecia Pro";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-m);
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 0 auto;
}

.container {
    max-width: 100%;
    padding: 0 60px;
    margin: 0 auto;
}

.feedback__btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 11px;
    right: 60px;
}

.mobile-block {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    pointer-events: none;
    opacity: 0;
    transition: all .5s;
}

.modal-overlay.show {
    opacity: 1;
    pointer-events: initial;
}

/* Form-modal */
.form-modal {
    position: fixed;
    top: 77px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    pointer-events: none;
    opacity: 0;
    transition: all .5s;
    max-width: 362px;
    width: 100%;
}

.form-modal.show {
    opacity: 1;
    pointer-events: initial;
}

.form-modal .intro-form {
    padding-top: 53px;
}

.form-modal .form-modal__close {
    position: absolute;
    width: 28px;
    height: 28px;
    background: none;
    border: none;
    cursor: pointer;
    top: 21px;
    right: 18px;
}

.form-modal .form-modal__close:before,
.form-modal .form-modal__close:after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
}

.form-modal .form-modal__close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.form-modal .form-modal__close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.form-modal .intro-form__heading {}
/* \Form-modal */

/* Header */
.header {
    flex: 0 0 auto;
    height: 80px;
    background: #fff;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header__mobile-link {
    display: none;
}

.header__logo {
}

.header__logo > svg {
}

/* \Header */


/* Nav */
.nav {
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__item {
    margin-right: 70px;
}

.nav__item:nth-last-child(1) {
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-weight: 300;
    font-size: 16px;
    transition: all .3s;
}

.nav__link:hover {
    color: var(--accent-blue);
}

.nav__link > svg {
    margin-right: 11px;
    width: initial;
}

/* \Nav */


/* Intro */
.intro {
    padding-top: 25px;
    padding-bottom: 33px;
    background: url('../images/intro_bg.png') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.feedback-intro {
    display: none;
}

.intro__block {
}

.intro__block:nth-child(1) {
    position: relative;
}

.intro__heading {
    margin-bottom: 31px;
    position: relative;
    z-index: 1;
}

.intro__title {
    font-family: var(--font-family-a);
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color);
}

.intro__desc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro__desc.uk .intro__big-desc {
    position: relative;
}

.intro__desc.uk .intro__big-desc:before {
    content: '';
    position: absolute;
    width: 110%;
    height: 1px;
    background: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
}

.intro__small-desc {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: var(--main-color);
    text-align: center;
    margin-right: 9px;
}

.intro__small-desc > strong {
    font-weight: 600;
}

.intro__small-desc > span {
    font-weight: 400;
}

.intro__big-desc {
    font-family: var(--font-family-a);
    font-weight: 250;
    font-size: 48px;
    text-transform: uppercase;
    color: var(--main-color);
    line-height: 130%;
}

.intro-desc {
    padding: 11px 12px 14px;
    border: 1px solid var(--main-color);
    max-width: 170px;
}

.intro-desc__number {
    font-family: var(--font-family-a);
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: var(--main-color);
    text-align: right;
}

.intro-desc__title {
    font-family: var(--font-family-a);
    font-weight: 400;
    font-size: 27px;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--accent-red);
}

.intro-desc__desc {
    font-size: 12px;
    line-height: 15px;
    color: var(--main-color);
}

.intro-uk__action {
    display: flex;
    align-items: center;
    padding-left: 39px;
    padding-right: 142px;
    border: 1px solid var(--main-color);
    margin-bottom: 33px;
}

.intro-uk__action-title {
    font-family: var(--font-family-a);
    max-width: 184px;
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    color: var(--accent-red);
}

.intro-uk__action-numbers {
    font-family: var(--font-family-a);
    font-weight: 600;
    font-size: 117px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-red);
    margin-left: 20px;
}

.intro-uk__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    color: var(--main-color);
}

.intro-uk__desc > strong {
    font-weight: 600;
}

.intro__numbers {
    font-family: var(--font-family-a);
    font-size: 26px;
    line-height: 26px;
    color: var(--accent-red);
    padding: 8px 40px;
    border: 1px solid var(--accent-red);
    display: block;
    max-width: 137px;
    margin: 0 auto;
}

.intro__sub-title {
    font-family: var(--font-family-a);
    font-size: 80px;
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-red);
    margin-bottom: 26px;
    position: relative;
    z-index: 1;
}

.intro__list {
    list-style: none;
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
    padding: 16px 20px;
    border: 1px solid var(--main-color);
}

.intro__item {
    counter-increment: counter;
    position: relative;
    padding-left: 40px;
    font-size: 14px;
    line-height: 17px;
    color: var(--main-color);
    margin-right: 10px;
}

.intro__item:nth-last-child(1) {
    margin-right: 0;
}

.intro__item:before {
    content: counter(counter);
    position: absolute;
    font-family: var(--font-family-a);
    font-weight: 250;
    font-size: 65px;
    text-transform: uppercase;
    color: var(--main-color);
    top: 40%;
    left: 0;
}

.intro__item > strong {
    font-weight: 600;
}

.intro__img {
    position: absolute;
    height: 110%;
    bottom: -37px;
    left: 80%;
}

.intro__img.uk {
    bottom: -45px;
    left: 78%;
}

.intro__img img {
    height: 100%;
}

.intro__block:nth-child(2) {
    min-width: 362px;
}

.intro-form {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 362px;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 29px;
    position: relative;
    z-index: 1;
}

.intro-form__heading {
    padding: 0 35px;
    text-align: center;
    border-bottom: 1px solid #D9D9D9;
}

.intro-form__title {
    font-family: var(--font-family-a);
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: var(--main-color);
}

.intro-form__desc {
    font-weight: 600;
    font-size: 55px;
    line-height: 75px;
    color: var(--accent-blue);
    text-align: center;
    text-transform: lowercase;
}

.intro-form__controls {
    padding: 20px 24px 0;
}

.intro-form__control {
    display: flex;
    flex-direction: column;
    margin-bottom: 9px;
}

.intro-form__control:nth-last-of-type(1) {
    margin-bottom: 0;
}

.intro-form__control > label {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    margin-bottom: 6px;
    transition: all .3s;
}

.intro-form__control > input {
    width: 100%;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding-left: 15px;
    font-weight: 400;
    color: var(--main-color);
    font-size: 16px;
    line-height: 20px;
    transition: all .3s;
}

.intro-form__control > input::placeholder {
    font-weight: 400;
}

.intro-form__control > input:focus,
.intro-form__control > input:focus-visible,
.intro-form__control > input:active {
    outline: none;
}

.intro-form__control._error > label {
    color: var(--accent-red);
}

.intro-form__control._error > input {
    border-color: var(--accent-red);
}

.intro-form__btn {
    margin-top: 25px;
    background: var(--accent-red);
    width: 100%;
    padding: 12px 0 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: all .3s;
    border: 1px solid var(--accent-red);
}

.intro-form__btn:hover {
    background: transparent;
    color: var(--accent-red);
}

/* \Intro */


/* Counter */
.counter {
    background: var(--accent-blue);
    text-align: center;
    padding-top: 13px;
    padding-bottom: 1px;
}

.counter__title {
    font-family: var(--font-family-a);
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.counter__days,
.counter__date {
    font-weight: 600;
    font-size: 37px;
    text-transform: lowercase;
    color: #FFFFFF;
}
/* \Counter */


/* About */
.about {
    padding: 18px 50px 25px;
}

.about__title {
    font-family: var(--font-family-a);
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: var(--accent-blue);
    margin-bottom: 9px;
}

.about__list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.about__item {
    height: 54px;
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    border: 1px solid var(--main-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--main-color);
    counter-increment: counter;
    position: relative;
    padding-left: 50px;
}

.about__item:before {
    content: counter(counter);
    position: absolute;
    font-family: var(--font-family-a);
    font-weight: 250;
    font-size: 40px;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--main-color);
    left: 20px;
    top: 3px;
}

.about__item strong {
    font-weight: 600;
    color: var(--accent-blue);
    margin-left: 2px;
}

.about__item:nth-last-child(1) {
    margin-bottom: 0;
}
/* \About */


/* Products */
.products {
    padding-top: 30px;
    padding-bottom: 37px;
    position: relative;
}

.products__title {
    font-family: var(--font-family-a);
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 14px;
}

.products__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 280px;
    margin-bottom: 40px;
}

.products__list.uk .products__caption {
    text-transform: initial;
}

.products__item {
    width: calc(25% - 15px);
    height: 100%;
    padding: 17px 17px 10px 19px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all .5s;
}

.products__item:hover {
    background: var(--accent-blue);
}

.products__content {
    color: var(--main-color);
    transition: all .5s;
}

.products__item:hover .products__content,
.products__item:hover .products__new-price {
    color: #fff;
}

.products__caption {
    font-family: var(--font-family-a);
    display: inline-block;
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 10px;
    transition: border-color .5s;
}

.products__item:hover .products__caption {
    border-color: #fff;
}

.products__characteristics {
    list-style: url("../images/list-mark.svg") inside;
    transition: list-style .5s;
}

.products__item:hover .products__characteristics {
    list-style: url("../images/list-mark_hover.svg") inside;
}

.products__characteristic {
    padding-left: 5px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 4px;
}

.products__price {
    text-align: right;
}

.products__old-price {
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;
    text-align: right;
    text-transform: lowercase;
    text-decoration: line-through var(--main-color);
    color: var(--main-color);
}

.products__new-price {
    font-weight: 600;
    font-size: 64px;
    line-height: 65px;
    text-transform: lowercase;
    color: var(--accent-blue);
    transition: all .5s;
}

.products__indicated {
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(45.19deg);
    background: rgba(0, 194, 186, 0.45);
    padding: 5px 50px;
    right: -50px;
    top: 30px;
    transition: all .5s;
}

.products__indicated.uk {
    font-size: 12px;
    top: 45px;
}

.products__indicated-mobile {
    display: none;
}

.products__item:hover .products__indicated {
    background: #FFFFFF;
    color: var(--accent-blue);
}

.products__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 1px solid var(--accent-red);
    background: var(--accent-red);
    height: 46px;
    padding: 0 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all .3s;
    cursor: pointer;
}

.products__btn:hover {
    background: transparent;
    color: var(--accent-red);
}

/* \Products */

.intro-mobile {
    display: none;
}

/* Adaptive */
@media (max-width: 1465px) {
    .uk .products__new-price {
        font-size: 45px;
    }
}

@media (max-width: 1150px) {
    .intro__title {
        font-size: 45px;
        text-align: center;
    }

    .intro__img {
        left: 90%;
    }
    .intro-uk__action {
        padding-right: 60px;
        padding-left: 20px;
    }
    .intro-uk__action-numbers {
        line-height: 120%;
        font-size: 100px;
    }
    .intro__img.uk {
        bottom: -75px;
        left: 80%;
    }
}

@media (max-width: 1100px) {
    .products__list {
        flex-wrap: wrap;
        height: initial;
    }

    .products__item {
        width: calc(50% - 10px);
        margin-bottom: 20px;
        height: 280px;
    }

    .products__item:nth-last-child(1),
    .products__item:nth-last-child(2) {
        margin-bottom: 0;
    }
}

@media (max-width: 1030px) {
    .intro__big-desc {
        font-size: 40px;
    }

    .intro__small-desc {
        font-size: 15px;
    }
}

@media (max-width: 990px) {
    .intro__sub-title {
        font-size: 70px;
    }
    .intro__title {
        font-size: 42px;
    }
    .intro__big-desc {
        font-size: 38px;
    }
    .intro__list,
    .intro__img {
        display: none;
    }
    .intro {
        background: url("../images/mobile_bg.png") no-repeat center center;
        background-size: cover;
    }

    .mobile-block {
        display: block;
    }
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .intro-uk__action {
        display: inline-flex;
        flex-direction: column;
        padding: 14px 23px;
    }
    .intro-uk__action-title {
        max-width: 100%;
        font-size: 14px;
        line-height: 17px;
        font-family: var(--font-family-m);
    }
    .intro-uk__action-numbers {
        margin: 0;
        font-size: 56px;
    }
}

@media (max-width: 870px) {
    .intro {
        position: relative;
    }
    .intro-form__title {
        font-weight: 22;
        line-height: 27px;
    }

    .intro-form__desc {
        font-size: 50px;
        line-height: 70px;
    }

    .intro__block:nth-child(2),
    .feedback__btn {
        display: none;
    }
    .feedback-intro {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--accent-blue);
        border-radius: 50%;
        filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.75));
        bottom: 30px;
        right: 20px;
    }

    .feedback-intro > img {
        width: 100%;
    }
    .nav,
    .intro__small-desc,
    .intro__numbers,
    .intro__sub-title,
    .intro-uk__desc,
    .intro__desc.uk .intro__big-desc:before {
        display: none;
    }

    .header__mobile-link,
    .intro-mobile {
        display: block;
    }

    .header {
        height: 60px;
    }

    .intro-form__btn.intro-mobile {
        max-width: 230px;
        font-size: 14px;
    }
    .intro__title {
        max-width: 208px;
        font-weight: 400;
        font-size: 31px;
        line-height: 110%;
        text-align: left;
        position: relative;
    }

    .intro__title:after {
        content: '';
        position: absolute;
        width: 77px;
        height: 1px;
        background: var(--main-color);
        left: 0;
        bottom: 0;
    }
    .intro__desc {
        justify-content: flex-start;
    }
    .intro__big-desc {
        font-size: 24px;
        line-height: 130%;
    }
}

@media (max-width: 520px) {
    .products__title {
        font-weight: 400;
        font-size: 26px;
        line-height: 125%;
        color: var(--accent-red);
        margin-bottom: 13px;
    }

    .products__item {
        height: 230px;
        padding: 14px 0 20px;
    }

    .products__content,
    .products__price {
        padding-left: 14px;
    }

    .products__caption {
        font-size: 22px;
        line-height: 130%;
    }

    .products__characteristic {
        font-size: 14px;
        line-height: 17px;
    }
    .products__old-price {
        text-align: left;
        font-size: 18px;
        line-height: 22px;
    }

    .products__new-price {
        font-size: 40px;
        line-height: 35px;
        text-align: left;
    }
    .products__indicated {
        display: none;
    }
    .products__indicated-mobile {
        display: block;
        height: 18px;
        width: 100%;
        background: rgba(0, 194, 186, 0.45);
        text-align: center;
        line-height: 18px;
        font-weight: 700;
        font-size: 10px;
        color: #fff;
        text-transform: uppercase;
    }
}

@media (max-width: 410px) {
    .products__btn {
        height: 63px;
        font-size: 16px;
        line-height: 125%;
        max-width: 291px;
    }
    .form-modal {
        max-width: 310px;
    }
}

@media (max-width: 320px) {
    .products__item {
        width: 100%;
    }
    .about {
        padding-right: 20px;
        padding-left: 20px;
    }
    .feedback-intro {
        right: 10px;
    }
    .products__item:nth-last-child(2) {
        margin-bottom: 20px;
    }
}
/* \Adaptive */